.formulario > div{
    padding: 7px;
}

.guardar{
    width: 100%;
}

.listado > thead {
    background-color: rgb(226, 224, 233);
}

.navbar {
    background-color: rgb(41, 39, 49);
}

.navbar a {
    color: white;
}

h1{
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
}